In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in /home/ubuntu/venv/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.20 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in /home/ubuntu/venv/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/ubuntu/venv/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in /home/ubuntu/venv/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/ubuntu/venv/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/venv/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: zipp>=3.1.0 in /home/ubuntu/venv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.20.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_colwidth', None)

In [4]:
raw_data = pd.read_csv(r'okcupid_profiles.csv')

In [5]:
raw_data.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [6]:
raw_data.shape

(59946, 31)

In [7]:
raw_data.head(5)

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [8]:
raw_data.tail(5)  # Muestra las últimas 10 filas

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
59941,59,single,f,straight,NaN,NaN,socially,never,graduated from college/university,NaN,...,"vibrant, expressive, caring optimist. i love b...",the happiest times have been when life came to...,i make an outstanding osso bucco. i am also ve...,"i am told that people notice my smile, eyes an...",i am an avid movie watcher and follow the broa...,"my family, my dog, italy, words and music!",writing my book.,"running with my dog, finishing up the work wee...",i have a dream to sing at the alconquin in nyc...,you are seeking a long term connection of shar...
59942,24,single,m,straight,fit,mostly anything,often,sometimes,working on college/university,"white, other",...,i'm nick. i never know what to write about mys...,currently finishing school for film production...,"filmmaking, photography, graphic design, web d...","dude, i don't know.","movies: hook (the greatest adventure ever!), g...",iphone contact lenses headphones camera tv rem...,i do most of my thinking on the bus to/from wo...,"bringin' home bacon, or drinking and shakin'!",when i was 18 i got a tattoo of waldo somewher...,meh if you made it this far you might as well.
59943,42,single,m,straight,average,mostly anything,not at all,never,graduated from masters program,asian,...,"hello! i enjoy traveling, watching movies, and...","i'm a civil engineer, who enjoys helping the c...",- looking at things objectively - getting thin...,i'm quiet until i get used to the environment ...,"last book: ""game change"". movies: bourne serie...",- iphone - friends and family - internet - bay...,"aside from work, how to improve my home.",out enjoying friendly conversation over dinner.,please let me think about this more.,we have similar interests.
59944,27,single,m,straight,athletic,mostly anything,socially,often,working on college/university,"asian, black",...,"""all i have in this world are my balls and my ...","following my dreams... ""you got a dream... you...",listening,it used to be the hair until i mowed it off bu...,where to begin musically: right now i listen t...,"music, family, friends, a basketball, hoop, so...",what can i do to make someone chuckle....,what i would do on any other day. everydays a ...,i like walking around in other people's house ...,you are interested and interesting...
59945,39,single,m,gay,average,NaN,socially,NaN,graduated from masters program,white,...,"is it odd that having a little ""enemy"" status ...",i work with elderly people (psychotherapy and ...,i'm a great bullshitter. i don't know what it ...,"either that i am funny/sarcastic, or that i am...","i just read the help by kathryn stockett, sooo...",1. family & friends & other humans - interacti...,"sex, myself, other people, how amazing everyth...","out at happy hour with my friends, running int...",i wish i could cry like holly hunter in broadc...,"if you have a back-bone, an opinion, a sense o..."

In [9]:
raw_data.columns

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [10]:
raw_data.info()
# alot of nan values are present
#te da un resumen estructural del DataFrame. Muestra: El número total de filas (entradas); 
#El número de columnas; El nombre de cada columna
#El número de valores no nulos por columna; El tipo de dato de cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [11]:
pip install pyspark

Requirement already satisfied: pyspark in /home/ubuntu/venv/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /home/ubuntu/venv/lib/python3.8/site-packages (from pyspark) (0.10.9.3)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install findspark

Requirement already satisfied: findspark in /home/ubuntu/venv/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
 import findspark
 findspark.init()

In [14]:
!start-dfs.sh

Starting namenodes on [localhost]
localhost: namenode running as process 2316. Stop it first.
localhost: datanode running as process 2492. Stop it first.
Starting secondary namenodes [0.0.0.0]
0.0.0.0: secondarynamenode running as process 2711. Stop it first.

In [15]:
!hdfs dfs -mkdir -p /user/hadoop/data  #creating the folder
!hdfs dfs -put /home/ubuntu/data-project/okcupid_profiles.csv /user/hadoop/data/ #filling it in

put: `/user/hadoop/data/okcupid_profiles.csv': File exists

In [16]:
!hdfs dfs -ls /user/hadoop/data

Found 1 items
-rw-r--r--   1 ubuntu supergroup  137307603 2025-06-24 12:02 /user/hadoop/data/okcupid_profiles.csv

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, count, mean
from pyspark.sql.types import StringType, NumericType
from pyspark.sql.functions import concat_ws

# 1. Start Spark session
spark = SparkSession.builder \
    .appName("DataCleaning_HDFS") \
    .getOrCreate()

# 2. Load CSV
df = spark.read.csv(
    "hdfs://localhost:54310/user/hadoop/data/okcupid_profiles.csv",
    header=True,
    inferSchema=True
)

# 3. Count total rows
total_rows = df.count()

# 4. Show percentage of missing values per column
print("Missing Values (%):")
for column in df.columns:
    null_count = df.select(count(when(col(column).isNull(), column))).first()[0]
    percent_null = (null_count / total_rows) * 100
    print(f"{column}: {percent_null:.2f}% nulls")
    print(f"total: {total_rows}, nulls: {null_count}, values: {total_rows - null_count}")
    print("--------------------------------------------")

25/06/24 21:59:35 WARN Utils: Your hostname, dsbda-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/06/24 21:59:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/24 21:59:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Missing Values (%):

age: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

status: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

sex: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

orientation: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

body_type: 8.83% nulls
total: 59946, nulls: 5296, values: 54650
--------------------------------------------

diet: 40.69% nulls
total: 59946, nulls: 24395, values: 35551
--------------------------------------------

drinks: 4.98% nulls
total: 59946, nulls: 2985, values: 56961
--------------------------------------------

drugs: 23.49% nulls
total: 59946, nulls: 14080, values: 45866
--------------------------------------------

education: 11.06% nulls
total: 59946, nulls: 6628, values: 53318
--------------------------------------------

ethnicity: 9.48% nulls
total: 59946, nulls: 5680, values: 54266
--------------------------------------------

height: 0.01% nulls
total: 59946, nulls: 3, values: 59943
--------------------------------------------

income: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

job: 13.68% nulls
total: 59946, nulls: 8198, values: 51748
--------------------------------------------

last_online: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

location: 0.00% nulls
total: 59946, nulls: 0, values: 59946
--------------------------------------------

offspring: 59.32% nulls
total: 59946, nulls: 35561, values: 24385
--------------------------------------------

pets: 33.23% nulls
total: 59946, nulls: 19921, values: 40025
--------------------------------------------

religion: 33.74% nulls
total: 59946, nulls: 20226, values: 39720
--------------------------------------------

sign: 18.44% nulls
total: 59946, nulls: 11056, values: 48890
--------------------------------------------

smokes: 9.19% nulls
total: 59946, nulls: 5512, values: 54434
--------------------------------------------

speaks: 0.08% nulls
total: 59946, nulls: 50, values: 59896
--------------------------------------------

essay0: 9.15% nulls
total: 59946, nulls: 5488, values: 54458
--------------------------------------------

essay1: 11.97% nulls
total: 59946, nulls: 7178, values: 52768
--------------------------------------------

essay2: 15.15% nulls
total: 59946, nulls: 9080, values: 50866
--------------------------------------------

essay3: 17.90% nulls
total: 59946, nulls: 10730, values: 49216
--------------------------------------------

essay4: 16.78% nulls
total: 59946, nulls: 10061, values: 49885
--------------------------------------------

essay5: 16.70% nulls
total: 59946, nulls: 10013, values: 49933
--------------------------------------------

essay6: 21.07% nulls
total: 59946, nulls: 12630, values: 47316
--------------------------------------------

essay7: 18.97% nulls
total: 59946, nulls: 11371, values: 48575
--------------------------------------------

essay8: 29.15% nulls
total: 59946, nulls: 17475, values: 42471
--------------------------------------------

[Stage 95:>                                                         (0 + 4) / 4]

essay9: 20.36% nulls
total: 59946, nulls: 12208, values: 47738
--------------------------------------------

In [18]:
# 3. Get all string columns
string_cols = [field.name for field in df.schema.fields if isinstance(field.dataType, StringType)]

# 4. Fill missing values in those columns with "."
df_filled = df.fillna(".", subset=string_cols)

# 4b. Creating new column containing all the essay content
essay_cols = [f"essay{i}" for i in range(10)]
df_filled = df_filled.withColumn("full_profile", concat_ws(" ", *essay_cols))

# 5. Preview the result
df_filled.show(5)

25/06/24 22:00:35 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---+---------+---+-----------+--------------+-----------------+--------+---------+--------------------+-------------------+------+------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|age|   status|sex|orientation|     body_type|             diet|  drinks|    drugs|           education|          ethnicity|height|income|                 job|     last_online|            location|           offspring|                pets|            religion|                sign|   smokes|              speaks|              essay0|              essay1|              essay2|              essay3|              essay4|              essay5|              essay6|              essay7|              essay8|              essay9|        full_profile|
+---+---------+---+-----------+--------------+-----------------+--------+---------+--------------------+-------------------+------+------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 22|   single|  m|   straight|a little extra|strictly anything|socially|    never|working on colleg...|       asian, white|  75.0|    -1|      transportation|2012-06-28-20-30|south san francis...|doesn't have kids...|likes dogs and li...|agnosticism and v...|              gemini|sometimes|             english|about me:  i woul...|currently working...|making people lau...|the way i look. i...|books: absurdista...|food. water. cell...|duality and humor...|trying to find so...|i am new to calif...|you want to be sw...|about me:  i woul...|
| 35|   single|  m|   straight|       average|     mostly other|   often|sometimes|working on space ...|              white|  70.0| 80000|hospitality / travel|2012-06-29-21-41| oakland, california|doesn't have kids...|likes dogs and li...|agnosticism but n...|              cancer|       no|english (fluently...|i am a chef: this...|dedicating everyd...|being silly. havi...|                   .|i am die hard chr...|delicious porknes...|                   .|                   .|i am very open an...|                   .|i am a chef: this...|
| 38|available|  m|   straight|          thin|         anything|socially|        .|graduated from ma...|                  .|  68.0|    -1|                   .|2012-06-27-09-10|san francisco, ca...|                   .|            has cats|                   .|pisces but it doe...|       no|english, french, c++|i'm not ashamed o...|i make nerdy soft...|improvising in di...|my large jaw and ...|"okay this is whe...| which a 1-2hr mo...|            the wire|              dexter|          true blood|        the prisoner|i'm not ashamed o...|
| 23|   single|  m|   straight|          thin|       vegetarian|socially|        .|working on colleg...|              white|  71.0| 20000|             student|2012-06-28-14-22|berkeley, california|   doesn't want kids|          likes cats|                   .|              pisces|       no|english, german (...|i work in a libra...|reading things wr...|playing synthesiz...|socially awkward ...|bataille, celine,...|                   .|cats and german p...|                   .|                   .|you feel so incli...|i work in a libra...|
| 29|   single|  m|   straight|      athletic|                .|socially|    never|graduated from co...|asian, black, other|  66.0|    -1|artistic / musica...|2012-06-27-21-26|san francisco, ca...|                   .|likes dogs and li...|                   .|            aquarius|       no|             english|hey how's it goin...|work work work wo...|creating imagery ...|i smile a lot and...|music: bands, rap...|                   .|                   .|                   .|                   .|                   .|hey how's it goin...|
+---+---------+---+-----------+--------------+-----------------+--------+---------+--------------------+-------------------+------+------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [19]:
# 6. Save cleaned result to JSON
df_filled.write.mode("overwrite").json("cleaned_profiles.json")

# THE RED BUTON HDFS

In [23]:
# !hdfs dfs -ls /user/hadoop/data

Found 1 items
-rw-r--r--   1 ubuntu supergroup  137307603 2025-06-24 12:02 /user/hadoop/data/okcupid_profiles.csv

In [24]:
# !hdfs dfs -cat /user/hadoop/data/okcupid_profiles.csv | wc -l

59947

In [21]:
# !hdfs dfs -rm /user/hadoop/data/okcupid_clean.csv